<center><h2>Đăng Ký Khóa Học</h2></center>
<form method="POST" action="/courses/store">
  <div class="form-group">
    <label for="name">Tên Khóa Học:</label>
    <input type="text" class="form-control" id="name" aria-describedby="emailHelp" name="name" placeholder="Điền Tên Khóa Học">
  </div>
  <div class="form-group">
    <label for="description">Mô tả khóa học:</label>
    <input type="text" class="form-control" id="description" name="description" placeholder="Điền Mô Tả Khóa Học">
  </div>

   <div class="form-group">
    <label for="videoID">videoID:</label>
    <input type="text" class="form-control" id="videoID" name="videoID" placeholder="">
  </div>

   <div class="form-group">
    <label for="level">Trình độ:</label>
    <input type="text" class="form-control" id="level" name="level" placeholder="Điền Trình Độ">
  </div>

  
  <button type="submit" class="btn btn-primary">Thêm Khóa Học</button>
</form>